
#Svg_Test {
  margin: 1px;
}

#pointdata {
  margin-top: 12px;
  font-family: monospace;
  font-size: 90%;
  clear: both;
}

.code, textarea {
  font-family: monospace;
  font-size: 90%;
}

#msg {
  color: #000080;
  font-style:italic;
}

#B_casing {
  vertical-align: bottom;
}

.input-color {
  height:16px;
}

.dotpattern {
  font-size: 12px;
	padding-top:1px;
}

.rim {
  vertical-align: top;
  border-color: #CCCCCC;
  background-color: #d0d0d0;
  border: 1px solid;
	padding: 0px;
}

div.form { 
  padding: 6px;
  border: 1px solid #c0c0c0;
  background-color: #f0f0f0;
  float: left;
}

input.nb {
  width: 21px;
}

p em, ul em {
  font-style:italic;
}

td { 
	vertical-align: top;
}

.help, .cmdseq { 
	display: none;
}

.active {
  color: #AA4411;
  background-color: #E0D0C0;
}

.inactive {
  color: #dddddd;
  background-color: #808AC0;
}

.inactive:hover {
  border: 1px outset #404050;
}

.sz-switch {
  border: 1px solid #505050;
  padding: 1px;
  padding-right: 3px;
  padding-left: 3px;
  cursor:pointer;
}


.sym-switch-use, .sym-switch-add {
  border: 1px solid #505050;
  padding-right: 2px;
  padding-left: 2px;
  cursor:pointer;
  vertical-align: middle;
}

.sym-sel-entry {
	padding-top: 2px;
	border-bottom: 1px solid #808080;
	height: 20px;
}

.sym-sel-caption {
	padding: 3px;
	width:90px;
	overflow: hidden;
	display: inline-block;
	vertical-align: middle;
}

.sym-sel-svg {
	height:16px;
	padding-right: 1px;
	padding-left: 1px;
	overflow: hidden;
	margin-left: 1px;
	border-left: 1px solid #808080;
	display: inline-block;
	vertical-align: middle;
}

.sym-sel-svg-wrapper {
	width:16px;
	height:16px;
	overflow: hidden;
	display: inline-block;
}

.sym-sel-svg-wrapper svg { 
	max-width:16px;
	max-height:16px;
}

.sym-sel-caption { 
  font-size: 85%;
}

.svg-code { 
	width:396px;
}

#cmd_seq {
  display: inline-block;
	vertical-align:top;
  color: #000080;
  font-family: monospace;
  font-size: 90%;
	max-width: 780px;
	word-wrap: break-word;
}

#sym_selector_box {
	width: 420px;
	overflow: scroll;
}

.sym-multi {
	color: red;
	font-size: 14px;
	font-weight: bold;
  border: 2px solid red;
	padding:-1px;
	border-radius: 4px;
}

.sym-active {
  background-color: #f0d0c0;
}

.sym-stuff {
	position: relative;
	min-height: 256px;
}

.sym-bar {
	padding-left: 30px;
	position: absolute;
	bottom: 0px;
  background-color: #f0f0f0;
}

#sym_preview {
	position: absolute;
	left: 0px;
	bottom: 0px;
  border-color: #CCCCCC;
  border: 1px solid;
	width: 24px;
	height: 24px;
	overflow: hidden;
}