
#Svg_Test {
  margin: 1px;
}

#pointdata {
  margin-top: 12px;
  font-family: monospace;
  font-size: 90%;
  clear: both;
}

.code, textarea {
  font-family: monospace;
  font-size: 90%;
}

#code_multi { 
	display: none;
}

#msg {
  color: #000080;
  font-style:italic;
}

#B_casing {
  vertical-align: bottom;
}

.dotpattern {
  font-size: 12px;
}

.rim {
  border-color: #CCCCCC;
  border: 1px solid;
}

div.form { 
  padding: 6px;
  border: 1px solid #c0c0c0;
  background-color: #f0f0f0;
  float: left;
}

input.nb {
  width: 21px;
}

p em, ul em {
  font-style:italic;
}

.help { 
	display: none;
}

.active {
  color: #AA4411;
  background-color: #E0D0C0;
}

.inactive {
  color: #dddddd;
  background-color: #808AC0;
}

.inactive:hover {
  border: 1px outset #404050;
}

.sz-switch {
  border: 1px solid #505050;
  padding: 1px;
  padding-right: 3px;
  padding-left: 3px;
  cursor:pointer;
}
